@font-face {
  font-family: 'Norse Bold';
  src: url('./fonts/Norse-Bold.otf') format('opentype');
}

/* General styles */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  display: flex;
  flex-flow: row wrap;
}

.italics {
  font-style: italic;
}

/* Left container styles */
.left-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 320px;
  background: url('./images/bg.jpg') no-repeat center;
  background-size: cover;
  color: white;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  margin-block: auto;
  padding-block: 1rem;
}

.logo-container h1 {
  padding: 0;
  margin: 0;
  font-family: 'Norse Bold', Arial, sans-serif;
  font-size: 5rem;
}

.image-author {
  font-size: 0.8rem;
  margin-block: auto 0;
}

.image-author a {
  color: white;
}

/* Right container styles */
.right-container {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 320px;
  background-color: #f3f4f5;
}

.description-text {
  max-width: 50ch;
}

.description-text,
.submit-button,
.login-text {
  margin-inline: 3rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  padding: 0 48px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  margin-block: 1.5rem;
  background-color: white;
}

/* Normalize font family in form elements */
form * {
  font-family: inherit;
}

.form-title {
  margin: 1rem 0;
  padding: 0;
}

form div {
  display: flex;
  flex-flow: row wrap;
}

form div p {
  margin-right: 3em;
}

.password-container {
  margin-bottom: 1rem;
}

input {
  width: 16rem;
  font-size: 0.9rem;
  padding: 0.4rem;
  border: 2px solid #E5E7EB;
  border-radius: 0.2rem;
  transition: border 0.2s ease 0s;
}

input:invalid {
  border: 2px solid red;
}

input:focus {
  border: 2px solid blue;
  box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.1);
  outline: none;
}

label {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #737982;
}

.submit-button {
  background-color: #596d48;
  color: white;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0px 8px 3px -3px rgba(0,0,0,0.1);
  padding: 0.8rem 3rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  font-weight: bold;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.submit-button:hover {
  filter: brightness(1.1);
}

.submit-button:active {
  filter: brightness(0.9);
}

.login-text a {
  color: #596d48;
  text-decoration: none;
  font-weight: bold;
}